/* --------------------------------------------------------------
	$Custom thief css
-------------------------------------------------------------- */

/*zmiana koloru nicku autora tematu na spisie tematów*/
.topic-poster .username {
    color: #ccc;
}

/*wykres ankiety */
.pollbar1 {
	background-color: #1e497b;
	border-bottom-color: transparent;
	border-right-color: transparent;
}

.pollbar2 {
	background-color: #1e497b;
	border-bottom-color: transparent;
	border-right-color: transparent;
}

.pollbar3 {
	background-color: #1e497b;
	border-bottom-color: transparent;
	border-right-color: transparent;
}

.pollbar4 {
	background-color: #1e497b;
	border-bottom-color: transparent;
	border-right-color: transparent;
}

.pollbar5 {
	background-color: #1e497b;
	border-bottom-color: transparent;
	border-right-color: transparent;
}

/*dynamiczny spoiler*/
.spoiler{ 
  color: #b4bac0 !important; 
  background-color: #b4bac0 !important;
}
.spoiler:hover { 
  background-color: #242a36 !important; 
}